{% extends 'blog/base_html/base.html' %}
{% block head_title%}Blog Home - Start Linux{% endblock %}
{% block main_area %}
    <h1>Blog {% if category %} <span class="badge badge-secondary">{{ category }}</span>{% endif %}</h1>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Chaewoo's blog!</h1>
                <p class="lead mb-0">Web page using Nginx Gunicorn Django</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img
                        class="card-img-top"
                        src="https://picsum.photos/seed/-1/700/350"
                        alt="..."/></a>
                    <div class="card-body">
                        <div class="small text-muted">Jun 26, 2022</div>
                        <h2 class="card-title">Want to learn Linux?</h2>
                        <p class="card-text">It will be difficult, but if you learn little by little,
                            you will be able to see me improving every day.</p>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <!-- 기존의 for p in posts 에서 CBV 방식으로 바꾸면서 ListView를 상속받아 자동으로 post_list 또는
                    object_list로 작성하면 된다. -->
                    {% for post in post_list %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4" id="post-{{ post.pk }}">
                                {% if post.tags.exists %}
                                    <i class="fas fa-tags"></i>
                                    {% for tag in post.tags.iterator %}
                                        <a href="{{ tag.get_absolute_url }}"><sapn class="badge badge-pill badge-light">{{ tag }}</sapn></a>
                                    {% endfor %}
                                    <br><br>
                                {% endif %}
                                <!-- if문을 이용하여 이미지가 없는 요소에서 넣을 이미지를 찾는 오류를 제거 -->
                                {% if post.head_image %}
                                    <a href="{{ post.get_absolute_url }}"><img
                                        class="card-img-top"
                                        src="{{ post.head_image.url }}"
                                        alt="Thumbnail image"/></a>
                                {% else %}
                                    <!-- https://picsum.photos/700/350을 src에 넣어줌으로 써 이미지가 없는 포스트에 임의의 사진을 보여준다. -->
                                    <!-- https://picsum.photos/seed/UID/700/350을 src에 넣어줌으로 써 새로고침마다 사진이 바뀌는걸 방지 -->
                                    <a href="{{ post.get_absolute_url }}"><img
                                        class="card-img-top"
                                        src="https://picsum.photos/seed/{{ post.pk }}/700/350"
                                        alt="Thumbnail image"/></a>
                                {% endif %}
                                <div class="card-body">
                                    <div class="small text-muted">{{ post.created_at }}</div>
                                    {% if post.category %}
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category }}</a>
                                    {% else %}
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">미분류</a>
                                    {% endif %}
                                    <h2 class="card-title h4">{{ post.title }}</h2>
                                    {% if post.hook_text %}
                                        <h5 class="text-muted">{{ post.hook_text }}</h5>
                                    {% endif %}
                                    <!-- truncatewords:[원하는 문자열 갯수], truncatechars:[원하는 글자 수] -->
                                    <p class="card-text">{{ post.content | truncatewords:20 }}</p>
                                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
                                    <div class="card-footer text-muted">
                                        Posted on {{ post.created_at }} by
                                        <!-- | 를 사용하면 앞에 있는 값에 UI?에 적용을 시켜주는 역할을 한다. -->
                                        <a href="#">{{ post.author | upper }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0"/>
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#!">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#!">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#!">3</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#!">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#!">15</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#!">Older</a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endblock %}